/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Menú lateral */
#menu-lateral {
    position: fixed;
    left: -250px; /* Inicialmente oculto */
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #7a9c42;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
}

#menu-lateral.active {
    left: 0;
}

#menu-list {
    list-style: none;
    margin-top: 20px;
}

#menu-list li {
    margin: 15px 0;
}

#menu-list a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 8px;
    transition: background 0.3s;
}

#menu-list a:hover {
    background: rgba(255, 255, 255, 0.2);
}

/* Botón para cerrar menú */
#menu-close {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: block;
    margin-left: auto;
}

/* Overlay para cerrar el menú */
#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

/* Mostrar el overlay cuando el menú está activo */
#overlay.active {
    display: block;
}

/* Header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7a9c42;
    padding: 10px 20px;
    color: white;
}

#menu-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

#search-container {
    display: flex;
    align-items: center;
}

#search {
    padding: 5px;
    border: none;
    border-radius: 5px;
}


#search-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 5px;
    border-color: black;
    transition: color 0.3s, background-color 0.3s;
}

#search-btn:hover {
    color: #6b7757;
    background-color: rgba(255, 255, 255, 0.2);
}

/* Contenido principal */
#main-content {
    text-align: center;
    margin-top: 20px;
}

#titulo {
    font-size: 28px;
    color: #333;
}

#imagen-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#montaña-imagen {
    max-width: 90%;
    height: auto;
    border: 5px solid #5a7d38;
    border-radius: 10px;
}
